﻿@model Sl_Processo.Models.ValueObjects.ProcessoVO

@{
    ViewBag.Title = "ConsultaProcessosDoParticipante";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}
<br />
<br />
<div class="container">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Informe a Empresa Participante</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group col-md-3">
                <label class="control-label">CNPJ</label>
                @Html.TextBoxFor(model => model.CnpjParticipante, new { @class = "form-control cnpj" })
                @Html.ValidationMessageFor(model => model.CnpjParticipante, "", new { @class = "text-danger" })
            </div>            
            <div class="row col-md-6">
                <div class="form-group col-md-5">
                    <label class="control-label">Data Início</label>
                    @Html.TextBoxFor(model => model.PeriodoInicio, new { @class = "form-control data-pt-br" })
                    @Html.ValidationMessageFor(model => model.PeriodoInicio, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-5">
                    <label class="control-label">Data Fim</label>
                    @Html.TextBoxFor(model => model.PeriodoFim, new { @class = "form-control data-pt-br" })
                    @Html.ValidationMessageFor(model => model.PeriodoFim, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Consultar" class="btn btn-infor" />
                </div>
            </div>
        </div>
    }

</div>

@section scripts{
    <script src="~/Scripts/jquery.maskedinput.js"></script>
    <script>
        $(function () {
            $(".cnpj").mask("99.999.999/9999-99", { placeholder: "00.000.000/0000-00" });
            $(".data-pt-br").mask("99/99/9999", { placeholder: "99/99/9999" });
        });
    </script>
}
