﻿@model IEnumerable<Sl_Processo.Models.TB_Processo>

@{
    ViewBag.Title = "Destaque";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <h3>Processos em Destaque</h3>
    </div>
    <div class="row">
        @Html.ActionLink("Voltar", "IndexRelatorios", "Home", null, new { @Class = "btn btn-info" })
        <hr />
    </div>
   
    <div class="row">
        <table class="table table-bordered table-responsive">
            <tr>
                <th>
                    Número do Processo
                </th>
                <th>
                    Objeto
                </th>

              
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a href="@Url.Content("~/Processo/BuscaProcessoDestaque?id=" + item.NumeroProcesso)" class="btn btn-info"> @Html.DisplayFor(modelItem => item.NumeroProcesso)</a>
</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Objeto)
                    </td>
                  
                </tr>
            }

        </table>
    </div>
</div>