﻿@{
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
    ViewBag.Title = "Historico";
    int dias = 0;
    DateTime dataAnt = DateTime.Now;
    int pos = 0;
}
<link href="~/Content/datatable1/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/datatable1/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/datatable1/datatables.min.css" rel="stylesheet" />
<link href="~/Content/datatable1/responsive.bootstrap.min.css" rel="stylesheet" />

<style>
    body, table {
        font-size: .99em !important;
    }
</style>
@model Sl_Processo.Models.TB_Processo
<div class="container-fluid">
    @Html.ActionLink("Voltar", "Index", "Processo", new { @Class = "btn btn-info" })
    <hr />
    <div class="alert alert-info">
        <h4 class="visible-lg visible-md">Histórico de movimentação do processo : <strong>@Model.NumeroProcesso</strong></h4>
        <h5 class="visible-sm">Histórico de movimentação do processo : <strong>@Model.NumeroProcesso</strong></h5>
        <h6 class="visible-xs">Histórico de movimentação do processo : <strong>@Model.NumeroProcesso</strong></h6>
    </div>
    <div class="table-responsive">
        <table id="example" class="table table-striped table-bordered" cellspacing="0">
            <thead>
                <tr>
                    <th>Data Movimento</th>
                    <th class="hidden-xs">Usuário</th>
                    <th>Origem</th>
                    <th>Destino</th>
                    <th class="hidden-xs">Observação</th>
                    <th class="">Motivo</th>
                    <th>Dias no setor</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.TB_MovimentoProcesso)
            {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.DataMovimento)</td>
                        <td class="hidden-xs">@Html.DisplayFor(modelItem => item.Usuario)</td>
                        <td>@Html.DisplayFor(modelItem => item.TB_UnidadeInterna.NomeUnidadeInterna)</td>
                        <td>@Html.DisplayFor(modelItem => item.TB_UnidadeInterna1.NomeUnidadeInterna)</td>
                        <td class="hidden-xs">@Html.DisplayFor(modelItem => item.ObservacaoMovimento)</td>
                        <td>@Html.DisplayFor(modelItem => item.TB_DescricaoMovimento.DescricaoMovimento)</td>
                        @if (pos == 0)
                        {
                            dias = 0;

                            <td class="text-center">@dias</td>
                        }
                        else
                        {
                            TimeSpan date = Convert.ToDateTime(dataAnt) - Convert.ToDateTime(item.DataMovimento.ToShortDateString()) ;
                            dias = date.Days;
                            <td class="text-center">@dias</td>
                        }
                    </tr>
                    dataAnt = Convert.ToDateTime(@item.DataMovimento.ToShortDateString());
                    pos = (pos + 1);
                }
            </tbody>
        </table>
    </div>
</div>
@Scripts.Render("~/bundles/datatable1")
<script src="~/Scripts/datatable1/dataTables.responsive.min.js"></script>
<script src="~/Scripts/datatable1/responsive.bootstrap.min.js"></script>

@section Scripts {    
    <script>
        $.extend(true, $.fn.dataTable.defaults, {
            //"searching": false,
            "ordering": false
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                "oLanguage": {
                    "sEmptyTable": "Nenhum registro encontrado",
                    "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                    "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "_MENU_ resultados por página",
                    "sLoadingRecords": "Carregando...",
                    "sProcessing": "Processando...",
                    "sZeroRecords": "Nenhum registro encontrado",
                    "sSearch": "Pesquisar nesta tabela",
                    "oPaginate": {
                        "sNext": "Próximo",
                        "sPrevious": "Anterior",
                        "sFirst": "Primeiro",
                        "sLast": "Último"
                    }
                },
                "oAria": {
                    "sSortAscending": ": Ordenar colunas de forma ascendente",
                    "sSortDescending": ": Ordenar colunas de forma descendente"
                }
            });
        })

    </script>
}


