﻿@model Sl_Processo.Models.TB_Processo

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
    var setClass = @ViewBag.setClass;
}
<script src="~/Scripts/Mascaras.js"></script>
<br />

<div class="@setClass" role="alert">
    <h4><strong>@ViewBag.message</strong></h4>
</div>
<div class="container-fluid">
    @using (Html.BeginForm("Historico", "Processo", FormMethod.Get))
    {
        <div class="panel panel-primary">
            <div class="panel-heading"><h3 class="panel-title">Consulta de Movimentação de Processo</h3></div>
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="panel-body">
                <div class="form-group col-md-3">
                    <label class="control-label">Número do Processo</label>
                    @Html.TextBoxFor(model => model.NumeroProcesso, new { @Class = "form-control", @onkeyup = "mascara(this, processo);", @maxlength = "21" })
                    @ViewBag.ProcessoNaoLocalizado
                </div>

                <div class="form-group col-md-7">
                    <label class="control-label">Objeto :</label>
                    @Html.TextBoxFor(model => model.Objeto, new { @class = "form-control" })
                </div>
            </div>
            <div class="panel-footer">
                <input type="submit" value="Buscar" class="btn btn-primary" />
                @Html.ActionLink("voltar", "IndexRelatorios", "Home", null, new {@Class="btn btn-info" })
            </div>
        </div>
    }
</div>
@section scripts{
    @*<script src="~/Scripts/jquery.maskedinput.js"></script>
    <script>
        $(function () {
            $(".processo").mask("99-9999.99999-99-9999", { placeholder: "00-0000.00000-00-0000" });
        });
    </script>*@
}
