﻿@model IEnumerable<Sl_Processo.Models.VW_CotroleDeProcessos>

<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/TableColor.css" rel="stylesheet" />
<style>
    body, table {
        font-size: .99em !important;
    }
</style>

@{
    ViewBag.Title = "ListaPrazosDaEquipe";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
    var mostraGrafico = ViewBag.ExibirGrafico;
    int i = 0;
}

<br />
<div class="container-fluid">
    <button type="button" onclick="history.go(-1)" class="btn btn-info">Voltar</button>
    <div class="row">
        <div class="col-md-12">
            <h3>Lista Prazos para: @ViewBag.Equipe</h3>
        </div>
    </div>

    <div class="row">
        <div class="table-responsive">
            <div>
                <table class="table table-bordered table-hover" width="100%" cellspacing="0">                    
                        <tr>
                            <th><label>Item</label></th>
                            <th><label>Nº do Processo</label></th>
                            <th><label>Objeto</label></th>
                            <th><label>Órgão Interessado</label></th>
                            <th><label>Dt Encaminhamento</label></th>
                            <th><label>Equipe</label></th>
                            <th><label>Prazo em dias</label></th>
                            <th><label>Total de Dias na Equipe</label></th>
                        </tr>
                    
                    
                        @foreach (var item in Model)
                        {
                            string corLinha = string.Empty;


                            if (item.TotalDias > item.LimiteDeDias)
                            {
                                corLinha = "dangerth";
                            }
                            else if ((item.TotalDias + 7) > item.LimiteDeDias)
                            {
                                corLinha = "warningth";
                            }
                            else
                            {
                                corLinha = "successth";
                            }

                            <tr class="@corLinha">
                                <td class="@corLinha">@{i++;}@i</td>
                                <td style="min-width: 13%">@item.NumeroProcesso</td>
                                <td>@Html.DisplayFor(modelItem => item.Objeto)</td>
                                <td>@Html.DisplayFor(modelItem => item.Sigla)</td>
                                <td>@Html.DisplayFor(modelItem => item.DataMovimento)</td>
                                <td>@Html.DisplayFor(modelItem => item.NomeUnidadeInterna)</td>
                                <td class="text-center">@Html.DisplayFor(modelItem => item.LimiteDeDias)</td>
                                <td class="text-center">@Html.DisplayFor(modelItem => item.TotalDias)</td>
                            </tr>
                                    }                    
                </table>
            </div>
        </div>
        @if (mostraGrafico)
        {
            <div class="col-xs-12 hidden-md">
                @Html.Action("GraficoPrazosEquipe")
            </div>
        }
        
    </div>
    <div class="row">
        <div class="col-md-2">
            @Html.ActionLink("Voltar", "PrazosEquipes", "Processo", null, new { @Class = "btn btn-info" })
        </div>
    </div>
</div>
