﻿@model IEnumerable<Sl_Processo.Models.TB_Processo>

@{
    ViewBag.Title = "ProcessosPorAssunto";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}
<link href="~/Content/datatable1/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/datatable1/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/datatable1/datatables.min.css" rel="stylesheet" />
<style>
    body {
        font-size: .98em !important;
    }
</style>

@Html.ActionLink("Voltar", "Index", "Processo", new {@Class="btn btn-info" })

    <h4>Processos Por Assunto</h4>
<div class="table-responsive">
    <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th><label>Nº Processo</label></th>
                <th><label>Objeto</label></th>
                <th>Data e Hora</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.ActionLink(item.NumeroProcesso, "Historico", "Processo", new { item.NumeroProcesso }, new { @Class = "btn btn-sm btn-info" })</td>
                    <td>@Html.DisplayFor(itemModel => item.Objeto)</td>
                    <td>@Html.DisplayFor(itemModel => item.DataHoraLicitacao)</td>

                </tr>
            }
        </tbody>
    </table>
</div>


@section Scripts {

    @Scripts.Render("~/bundles/datatable1")
    @*<script src="~/Scripts/datatable1/datatables.min.js"></script>*@

    <script>
        $(document).ready(function () {          
           $('#example').DataTable({
                "oLanguage": {
                    "sEmptyTable": "Nenhum registro encontrado",
                    "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                    "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "_MENU_ resultados por página",
                    "sLoadingRecords": "Carregando...",
                    "sProcessing": "Processando...",
                    "sZeroRecords": "Nenhum registro encontrado",
                    "sSearch": "Pesquisar nesta tabela",
                    "oPaginate": {
                        "sNext": "Próximo",
                        "sPrevious": "Anterior",
                        "sFirst": "Primeiro",
                        "sLast": "Último"
                    }
                },
                "oAria": {
                    "sSortAscending": ": Ordenar colunas de forma ascendente",
                    "sSortDescending": ": Ordenar colunas de forma descendente"
                }
            });
        })
    </script>
}