﻿@model IEnumerable<Sl_Processo.Models.VW_CotroleDeProcessos>

@{    
    Layout = null;
}
@{int i = 0;}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>Lista Prazos da Equipe</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">


            <table class="table table-bordered">
                <tr>
                    <th>
                        Item
                    </th>
                    <th>
                        Número do Processo
                    </th>
                    <th>
                        Objeto
                    </th>
                    <th>
                        Órgão Interessado
                    </th>
                    <th>
                        Data Encaminhamento
                    </th>
                    <th>
                        Equipe
                    </th>
                    <th>
                        Prazo em dias
                    </th>
                    <th>
                        Total de Dias na Equipe
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    string corLinha = string.Empty;


                    if (item.TotalDias > item.LimiteDeDias)
                    {
                        corLinha = "dangerth";
                    }
                    else if ((item.TotalDias + 7) > item.LimiteDeDias)
                    {
                        corLinha = "warningth";
                    }
                    else
                    {
                        corLinha = "successth";
                    }

                    <tr class="@corLinha">
                        <td>
                            @{i++;}
                            @i
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumeroProcesso)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Objeto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sigla)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataMovimento)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SetorAtual)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LimiteDeDias)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalDias)
                        </td>

                    </tr>
                                }

            </table>
        </div>
    </div>
</div>

