﻿@model Sl_Processo.Models.ValueObjects.ProcessoVO

    <link href="~/Content/Site.css" rel="stylesheet" />
    @{
        ViewBag.Title = "PrazosEquipes";
        Layout = "~/Views/Shared/_LayoutInterno.cshtml";
    }

    <div class="container-fluid">
        <div class="row">
            <div class="visible-lg col-md-12">
                <h2>Controle de Processo - Pregão Eletrônico e Presencial</h2>
            </div>
            <div class="visible-md col-md-12">
                <h3>Controle de Processo - Pregão Eletrônico e Presencial</h3>
            </div>
            <div class="visible-sm col-sm-12">
                <h4>Controle de Processo - Pregão Eletrônico e Presencial</h4>
            </div>
            <div class="visible-xs col-sm-12">
                <h5>Controle de Processo - Pregão Eletrônico e Presencial</h5>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        @using (Html.BeginForm("ListaPrazosDaEquipe", "Processo", FormMethod.Post))
        {
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <strong> Relatório de Prazos por Equipe</strong>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-2">
                            <label>ANO</label>
                            @Html.DropDownListFor(model => model.Ano, (SelectList)ViewBag.Anos, "Selecione...", new { @Class = "form-control" })
                        </div>  
                         <div class="col-md-3">
                            <label>Equipe</label>
                            @Html.DropDownListFor(model => model.Equipe, (SelectList)ViewBag.CodUnidadeInterna, "Todas Equipes", new { @class = "form-control" })
                        </div>
                        <div class="col-md-4">
                            <label>Assunto</label>
                            @Html.DropDownListFor(model => model.Assunto, (SelectList)ViewBag.CodDescricaoMovimento, "Todos Assuntos", new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <input type="submit" class="btn btn-primary" value="Enviar" />
                    @Html.ActionLink("voltar", "IndexRelatorios", "Home", null, new { @Class = "btn btn-info" })
                </div>
            </div>
        }
    </div>
