﻿@model DotNet.Highcharts.Highcharts


<link href="~/Content/Highcharts-theme/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" />
<link href="~/Scripts/google-code-prettify/prettify.css" rel="stylesheet" />

<script src="~/Scripts/jquery-2.0.0.min.js"></script>
<script src="~/Scripts/modernizr-2.6.2.js"></script>
<script src="~/Scripts/jquery-ui-1.10.3.min.js"></script>
<script src="~/Scripts/Highcharts-4.0.1/js/highcharts-all.js"></script>
<script src="~/Scripts/Highcharts-4.0.1/js/highcharts.js"></script>
<script src="~/Scripts/Highcharts-4.0.1/js/modules/funnel.js"></script>

<script src="~/Scripts/google-code-prettify/prettify.js"></script>

@{
    ViewBag.Title = "Sistema de Processos";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}

<br />
<br />
<br />

<div class="row">
    <div class="col-md-6">
        <div class="prettyprint()">
            @(Model)
            </div>
        </div>
    <div class="col-md-6">
        @{int[] totais = (int[])ViewBag.Totais;}

            <table class="table table-condensed">
                <tr>
                    <th>
                        Descrição
                    </th>
                    <th>
                        Quantidade
                    </th>
                </tr>
                <tr>
                    <td>Atrasados</td>
                    <td>@totais[0]</td>
                </tr>
                <tr>
                    <td>Chegando no Prazo</td>
                    <td>@totais[1]</td>
                </tr>
                <tr>
                    <td>No Prazo</td>
                    <td>@totais[2]</td>
                </tr>
                <tr>
                    <td>Concluidos</td>
                    <td>@totais[3]</td>
                </tr>
                <tr>
                    <th>Total de Processos</th>
                    <th>@totais[4]</th>
                </tr>
            </table>
      
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <button type="button" onclick="history.go(-1)" class="btn btn-info">Voltar</button>
    </div>
</div>

