﻿@model IEnumerable<Sl_Processo.Models.TB_Processo>

@{
    ViewBag.Title = "ProcessosDoParticipante";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
    @Styles.Render("~/Content/datatable1/jquery.dataTables.min.css")
}
@section Styles{
    <style>
        body {
            font-family: "Arial";
            font-size: 130%;
        }
    </style>
}
<br />
<br />
<input type="button" value="voltar" onClick="history.go(-1)" class="btn btn-primary"> 
<div>
    <h4>Resultado de processos para o participante : <strong>@ViewBag.participanteCnpj - @ViewBag.participanteNome</strong></h4>
    
    <table id="example" class="display">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.NumeroLicitacao)  </th>
                <th>@Html.DisplayNameFor(model => model.Objeto)   </th>
                <th>@Html.DisplayNameFor(model => model.DataHoraLicitacao)</th>                
                @*<th>@Html.DisplayNameFor(model => model.AnaliseTCE)       </th>*@
                <th>@Html.DisplayNameFor(model => model.ValorEstimado)    </th>
                <th>@Html.DisplayNameFor(model => model.ValorLicitado)    </th>
                @*<th>@Html.DisplayNameFor(model => model.DataDespacho)    </th>
                    <th>@Html.DisplayNameFor(model => model.ObservacaoDespacho)</th>
                    <th>@Html.DisplayNameFor(model => model.DataEmissaoDespachoFinal)</th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(itemModel => item.NumeroLicitacao)                    </td>
                    <td>@Html.DisplayFor(itemModel => item.Objeto)                             </td>
                    <td>@Html.DisplayFor(itemModel => item.DataHoraLicitacao)                  </td>                
                    @*<td>@Html.DisplayFor(itemModel => item.AnaliseTCE)                         </td>*@
                    <td>@Html.DisplayFor(itemModel => item.ValorEstimado)                      </td>
                    <td>@Html.DisplayFor(itemModel => item.ValorLicitado)                      </td>
                    @*<td>@Html.DisplayFor(itemModel => item.DataDespacho)                       </td>
                        <td>@Html.DisplayFor(itemModel => item.ObservacaoDespacho)                 </td>
                        <td>@Html.DisplayFor(itemModel => item.DataEmissaoDespachoFinal)           </td>*@
                </tr>
            }
        </tbody>
    </table>   
</div>


@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/datatable1")

    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                "autoWidth": true,
                "oLanguage": {
                    "sEmptyTable": "Nenhum registro encontrado",
                    "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                    "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "_MENU_ resultados por página",
                    "sLoadingRecords": "Carregando...",
                    "sProcessing": "Processando...",
                    "sZeroRecords": "Nenhum registro encontrado",
                    "sSearch": "Pesquisar nesta tabela",
                    "oPaginate": {
                        "sNext": "Próximo",
                        "sPrevious": "Anterior",
                        "sFirst": "Primeiro",
                        "sLast": "Último"
                    }
                },
                "oAria": {
                    "sSortAscending": ": Ordenar colunas de forma ascendente",
                    "sSortDescending": ": Ordenar colunas de forma descendente"
                }
            });
        })
    </script>
}