﻿/*html {
    background-color: #f7f7f7;
}*/


.bgFooter {
    padding: 6% 0;
    margin-top: 2%;
    font-size: .9em;
    background-color: #e9e9e9;
    text-align: center;
}

.alinhaDireita {
    text-align: right;
}

.barraTopo {
    background-image: -webkit-linear-gradient(#fbd504, #cfb526 60%, #a8921c);
    background-image: -o-linear-gradient(#fbd504, #cfb526 60%, #a8921c);
    background-image: linear-gradient(#fbd504, #cfb526 60%, #a8921c);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff04519b', endColorstr='#ff033769', GradientType=0);
    filter: none;
    border-bottom: 1px solid #778307;
    height: 10px;
}

.barraHome {
    background-image: -webkit-linear-gradient(#04519b, #044687 60%, #033769);
    background-image: -o-linear-gradient(#04519b, #044687 60%, #033769);
    background-image: linear-gradient(#04519b, #044687 60%, #033769);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff04519b', endColorstr='#ff033769', GradientType=0);
    filter: none;
    border-bottom: 1px solid #022241;
    height: 50px;
}

.colorheader{
    background-color: #eee;
    padding: 5px 5px 5px 5px;
}

.topRow {
    margin-top: 10px;
}

.navbar-default {
    background: #1077b1 none repeat scroll 0 0 !important;
}

.navbar-default .navbar-nav > li > a {
    color: #fff !important;
}
.navbar-nav > li > a {
    padding: 8px 0px 0px 0px !important;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    
    color: #fff;
}



@font-face {
    font-family: 'WebSymbolsRegular';
    src: url('websymbols/websymbols-regular-webfont.eot');
    src: url('websymbols/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'), url('websymbols/websymbols-regular-webfont.woff') format('woff'), url('websymbols/websymbols-regular-webfont.ttf') format('truetype'), url('websymbols/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


.ca-menu {
    padding: 0;
    margin: 20px auto;
    width: 380px;
}

    .ca-menu li {
        width: 380px;
        height: 120px;
        overflow: hidden;
        position: relative;
        display: block;
        background: #fff;
        -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
        -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
        box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
        margin-bottom: 4px;
        -webkit-transition: all 300ms ease-in-out;
        -moz-transition: all 300ms ease-in-out;
        -o-transition: all 300ms ease-in-out;
        -ms-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
        padding-top: 10px;
    }

        .ca-menu li:last-child {
            margin-bottom: 0;
        }

        .ca-menu li a {
            text-align: left;
            width: 100%;
            height: 100%;
            display: block;
            color: #333;
            position: relative;
        }

.ca-icon {
    font-family: 'WebSymbolsRegular', cursive;
    font-size: 40px;
    color: #333;
    text-shadow: 0 0 1px #333;
    line-height: 90px;
    position: absolute;
    width: 30%;
    height: 81%;
    left: 20px;
    text-align: center;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}

.ca-content {
    position: absolute;
    left: 120px;
    width: 70%;
    height: 60px;
    /*top: 20px;*/
    text-align: center;
}

.ca-main {
    font-size: 30px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}

.ca-sub {
    font-size: 14px;
    color: #666;
}

.ca-menu li:hover {
    background-color: #012F5D;
}

    .ca-menu li:hover .ca-icon {
        color: #66CCFF;
        font-size: 120px;
        opacity: 0.2;
        left: -20px;
        -webkit-transform: rotate(20deg);
        -moz-transform: rotate(20deg);
        -ms-transform: rotate(20deg);
        transform: rotate(20deg);
    }

    .ca-menu li:hover .ca-main {
        color: #428bca;
        opacity: 0.8;
    }

    .ca-menu li:hover .ca-sub {
        color: #fff;
        opacity: 0.8;
    }

.ca-icon img {
    width: 100%;
    height: 100%;
}

.margemTopo {
    margin-top: 10px;
}


/*mobile*/
.ca-menu-mobile {
    padding: 0;
    margin: 20px auto;
    width: 100%;
    align-content: center;
}

    .ca-menu-mobile li {
        width: 100px;
        height: 100px;
        overflow: hidden;
        position: relative;
        display: block;
        background: #fff;
        -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
        -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
        box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
        margin-bottom: 4px;
        margin-right: 5px;
        -webkit-transition: all 300ms ease-in-out;
        -moz-transition: all 300ms ease-in-out;
        -o-transition: all 300ms ease-in-out;
        -ms-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
        padding-top: 10px;
        float: left;
    }

        .ca-menu-mobile li a {
            text-align: center;
            width: 100%;
            height: 100%;
            display: block;
            color: #333;
            position: relative;
            text-decoration: none;
        }

.ca-content-mobile {
    /* left: 120px;
    width: 70%;
    height: 60px;*/
    margin-top: 10px;
    text-align: center;
}

.ca-main-mobile {
    font-size: 16px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
/*fim mobile*/

.navbar-nav > li > a {
    padding-bottom: 5px;
    padding-top: 5px;
}

 .font-topo h1 {
            width: 70%;
            font-size: 110%;
            font-weight: bold;
            font-family: Georgia;
            font-style: italic;
            text-decoration: none;
            text-align: right;
            color: #797979;
        }