﻿body {
            font-family: "Arial";
            font-size: 130%;
        }
.dangerth {
    background-color: #b84d45 !important;
    color: #fff !important;
    font-weight: bold !important;
}

.successth {
    background-color: #5cb85c !important;
    font-weight: bold !important;
}

.warningth {
    background-color: #f0ad4e !important;
    font-weight: bold !important;
}
