﻿@model Sl_Processo.Models.TB_Usuarios
@{
    ViewBag.Title = "Sistema de Processos - Acesso Restrito";
    Layout = null;
}
<script src="~/Scripts/Mascaras.js"></script>
<br />
<br />
<div class="container">
    <div class="row topRow">
        <div class="col-md-4 col-md-offset-4">
            @using (Html.BeginForm("Login", "Usuario", FormMethod.Post))
            {
                <div class="panel panel-primary">
                    <div class="panel-heading"><i class="fa fa-lock"></i> Acesso Restrito</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <label>C.P.F</label>
                                @Html.TextBoxFor(m => m.login, new { @name = "txLogin", @class = "form-control", @onkeyup = "mascara(this, mcpf);", @maxlength = "14" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Senha</label>
                                @Html.PasswordFor(m => m.senha, new { @name = "txSenha", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-12 topRow">
                            
                                @Session["erroLogin"]
                            
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-2">
                                <input type="submit" class="btn btn-primary" value="Entrar" />
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>