
.a {
    background-color: #fff;
    border-color: #d3e0e9;
}
.b .c {
    line-height: 1.4;
}
.d .close {
    margin-top: 4px;
}
.app-navbar {
    font-weight: 400;
}
.app-navbar .form-control {
    box-shadow: none;
}
.app-navbar .e img {
    width: 85px;
}
.app-navbar .f {
    max-height: inherit;
}
.app-navbar .f::after {
    height: 100vh;
}
.app-navbar .form-control {
    border-color: #1c73a5;
}
.g {
    margin-left: -12px;
    padding-bottom: 10px !important;
}
.g .h::before {
    font-size: 20px;
}
@media (min-width: 768px) {
.app-navbar .f::after {
    height: auto;
}
}
@media (max-width: 768px) {
.i {
    margin-top: -1px;
}
}
.j {
    margin-top: -60px;
    max-width: 280px;
}
.k {
    margin-right: 10px;
}
.l {
    display: inline-block;
    width: 40%;
}
.l img {
    width: 100%;
}
