﻿@{
    ViewBag.Title = "IndexRelatorios";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}

<div class="row">
    <div class="visible-lg col-lg-12">
        <h2>Relatórios Principais</h2>
    </div>
    <div class="visible-md col-md-12">
        <h2>Relatórios Principais</h2>
    </div>
    <div class="visible-sm col-sm-12">
        <h3>Relatórios Principais</h3>
    </div>
    <div class="visible-xs col-xs-12">
        <h4>Relatórios Principais</h4>
    </div>
</div>

<div class="container">
    @*Mobile*@
    <div class="row visible-xs visible-sm">
        <div class="col-xs-12">
            <ul class="ca-menu-mobile">
                <li>
                    <a href="@Url.Action("Index", "Processo")">
                        <i class="fa fa-filter fa-2x" aria-hidden="true"></i>
                        <div class="ca-content-mobile"><h2 class="ca-main-mobile">Histórico</h2></div>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("PrazosEquipes","Processo")">
                        <i class="fa fa-hourglass-half fa-2x" aria-hidden="true"></i>
                        <div class="ca-content-mobile"> <h2 class="ca-main-mobile">Prazos</h2></div>
                    </a>
                </li>
                @if (ViewBag.Setor == 3 || ViewBag.Setor == 4 || ViewBag.Setor == 8)
                {
                    <li>
                        <a href="@Url.Action("PrazoGeral", "Processo")">
                            <i class="fa fa-pie-chart fa-2x" aria-hidden="true"></i>
                            <div class="ca-content-mobile"><h2 class="ca-main-mobile">Rel. Geral</h2></div>
                        </a>
                    </li>
                }
                @if (ViewBag.Setor == 3 || ViewBag.Setor == 8)
                {
                    <li>
                        <a href="@Url.Action("Destaque", "Processo")">
                            <i class="fa fa-star fa-2x" aria-hidden="true"></i>
                            <div class="ca-content-mobile"><h2 class="ca-main-mobile">Destaque</h2></div>
                        </a>
                    </li>
                }
                <li>
                    <a href="@Url.Action("Index", "Participante")">
                        <i class="fa fa-gavel fa-2x" aria-hidden="true"></i>
                        <div class="ca-content-mobile"> <h2 class="ca-main-mobile">Fornecedores</h2></div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    @*Fim Mobile*@

    <div class="row visible-md visible-lg">
        <div class="col-xs-12 col-md-4">
            <ul class="ca-menu">
                <li>
                    <a href="@Url.Action("Index", "Processo")">
                        @*@Url.Action("Index", "Processo")*@
                        <span class="ca-icon">
                            <i class="fa fa-filter fa-2x"></i>
                        </span>
                        <div class="ca-content">
                            <h2 class="ca-main">Histórico</h2>
                            <h3 class="ca-sub">Histórico do Processo</h3>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 col-md-4">
            <ul class="ca-menu">
                <li>
                    <a href="@Url.Action("PrazosEquipes","Processo")">
                        <span class="ca-icon">
                            <i class="fa fa-hourglass-half fa-2x"></i>
                        </span>
                        <div class="ca-content">
                            <h2 class="ca-main">Prazos</h2>
                            <h3 class="ca-sub">Relatório por Prazos</h3>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        @if (ViewBag.Setor == 3 || ViewBag.Setor == 4 || ViewBag.Setor == 8)
        {
            <div class="col-xs-12 col-md-4">
                <ul class="ca-menu">
                    <li>
                        <a href="@Url.Action("PrazoGeral", "Processo")">
                            <span class="ca-icon">
                                <i class="fa fa-pie-chart fa-2x"></i>
                            </span>
                            <div class="ca-content">
                                <h2 class="ca-main">Geral</h2>
                                <h3 class="ca-sub">Relatório Geral</h3>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        }
        @if (ViewBag.Setor == 3 || ViewBag.Setor == 8)
        {
            <div class="col-xs-12 col-md-4">
                <ul class="ca-menu">
                    <li>
                        <a href="@Url.Action("Destaque", "Processo")">
                            <span class="ca-icon">
                                <i class="fa fa-star fa-2x"></i>
                            </span>
                            <div class="ca-content">
                                <h2 class="ca-main">Destaque</h2>
                                <h3 class="ca-sub">Processos em Destaque</h3>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        }

        <div class="col-xs-12 col-md-4">
            <ul class="ca-menu">
                <li>
                    <a href="@Url.Action("Index", "Participante")">
                        <span class="ca-icon">
                            <i class="fa fa-gavel fa-2x"></i>
                        </span>
                        <div class="ca-content">
                            <h2 class="ca-main">Fornecedores</h2>
                            @*<h3 class="ca-sub">Relatório Geral</h3>*@
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 col-md-4">
            <ul class="ca-menu">
                <li>
                    <a href="@Url.Action("Index", "Licitacoes")">
                        <span class="ca-icon">
                            <i class="fa fa-gavel fa-2x"></i>
                        </span>
                        <div class="ca-content">
                            <h2 class="ca-main">Licitações</h2>
                            @*<h3 class="ca-sub">Relatório Geral</h3>*@
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
