﻿@model DotNet.Highcharts.Highcharts

<link href="~/Content/Highcharts-theme/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" />
<link href="~/Scripts/google-code-prettify/prettify.css" rel="stylesheet" />

<script src="~/Scripts/jquery-2.0.0.min.js"></script>
<script src="~/Scripts/modernizr-2.6.2.js"></script>
<script src="~/Scripts/jquery-ui-1.10.3.min.js"></script>
<script src="~/Scripts/Highcharts-4.0.1/js/highcharts-all.js"></script>
<script src="~/Scripts/Highcharts-4.0.1/js/modules/funnel.js"></script>
<script src="~/Scripts/core.js"></script>
<script src="~/Scripts/google-code-prettify/prettify.js"></script>

@{
    ViewBag.Title = "Sistema de Processos";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}


@*@(Model)*@