﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")  
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    @*<div class="barraTopo"></div>*@
    
    <div class="row visible-md visible-lg colorheader">
        <div class="visible-lg col-lg-2">
            <img src="~/Content/img/brasao.png" class="img-responsive" height="100" width="55%;" />
        </div>
        <div class="visible-md col-md-2">
            <img src="~/Content/img/brasao.png" class="img-responsive" height="100" width="50%;" />
        </div>
        <div class="col-md-10 col-lg-10">
            <h2>Governo do Estado de Rondônia</h2>
            <h3>Compras e Licitações</h3>
            <h4>Processos <small>V-2.0 Beta</small> - SUPEL</h4>
        </div>
    </div>

    <div class="row visible-sm colorheader">
        <div class="col-sm-2">
            <img src="~/Content/img/brasao.png" class="img-responsive" width="60%" style="margin-top: 5px" />
        </div>
        <div class="col-sm-10">
            <h3>Governo do Estado de Rondônia</h3>
            <h4>Compras e Licitações</h4>
            <h5>Processos <small>V-2.0 Beta</small> - SUPEL</h5>
        </div>
    </div>

    <div class="row visible-xs colorheader">
        <div class="col-xs-2">
            <img src="~/Content/img/brasao.png" width="55px" style="margin-top: 15px" />
        </div>
        <div class="col-xs-10">
            <h4>Governo do Estado de Rondônia</h4>
            <h5>Compras e Licitações</h5>
            <h6>Processos <small>V-2.0 Beta</small> - SUPEL</h6>
        </div>
    </div>
    
    <nav id="mnuSICOP" class="navbar navbar-default">
        <div class="collapse navbar-collapse">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#" role="button" aria-expanded="false"><i class="fa fa-cog"></i></a>

                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        @RenderBody()
    </div>
    <footer class="bgFooter">
        <div class="container">
            © SUPEL 2015
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
