﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/datatable1")

    @Scripts.Render("~/bundles/modernizr")

    @RenderSection("Styles", false)
</head>

<body>
    <div class="container-fluid">
        <br />
        <div class="jumbotron-a">
            <div class="row">
                <div class="hidden-xs hidden-sm col-md-2 col-md-offset-3">
                    <i class="fa fa-5x fa-gears"></i>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-4 font-topo text-left">
                    <h1 class="font-topo">@Session["setorSigla"]</h1>
                </div>
            </div>
        </div>
    </div>

    <br />

    <nav role="navigation" class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*<a class="navbar-brand" href="#">Processo</a>*@
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("IndexRelatorios","Home")"><i class="fa fa-2x fa-home"></i>&nbsp;Início</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @Html.Partial("_PartialLogin")
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container-fluid">
        <div>
            @RenderBody()
        </div>
    </div>

    <div class="bgFooter">
        <div class="container">
            © SUPEL 2015
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/datatable1")
  

    @RenderSection("scripts", required: false)    
</body>

</html>
