﻿@if (@Session["username"] != null)
{
    
        <li>
            <a href="#" class="text-capitalize"><i class="fa fa-user fa-2x"></i>&nbsp; Olá ! @Session["username"]</a>
        </li>
    
        <li style="margin-right:20px; margin-left:20px;">
            <a href="@Url.Action("Logoff", "Usuario")"><i class="fa fa-2x fa-sign-out"></i>&nbsp;  Sair</a>
        </li>
    
}
else
{
    
        @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
        <li>@Html.ActionLink("Acessar", "Index", "Usuario", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    
}

