﻿@model Sl_Processo.Models.ValueObjects.LicitacaoVO

<link href="~/Content/Site.css" rel="stylesheet" />
<script src="~/Scripts/Mascaras.js"></script>
@{
    ViewBag.Title = "Licitacoes";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="visible-lg col-md-12">
            <h2>Controle de Licitações</h2>
        </div>
        <div class="visible-md col-md-12">
            <h3>Controle de Licitações</h3>
        </div>
        <div class="visible-sm col-sm-12">
            <h4>Controle de Licitações</h4>
        </div>
        <div class="visible-xs col-sm-12">
            <h5>Controle de Licitações</h5>
        </div>
    </div>
</div>
<div class="container-fluid">
    @using (Html.BeginForm("Lista", "Licitacoes", FormMethod.Post))
    {
        <div class="panel panel-primary">
            <div class="panel-heading">
                <strong> Relatório de Licitações por Equipe</strong>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-2">
                        <label>ANO</label>
                        @Html.DropDownListFor(model => model.Ano, (SelectList)ViewBag.Anos, "Selecione...", new { @Class = "form-control" })
                    </div>
                    <div class="col-md-3">
                        <label>Equipe</label>
                        @Html.DropDownListFor(model => model.Equipe, (SelectList)ViewBag.CodUnidadeInterna, "Todas Equipes", new { @class = "form-control" })
                    </div>

                    <div class="col-md-4">
                        <label class="control-label">Número do Processo</label>
                        @Html.TextBoxFor(model => model.Processo, new { @Class = "form-control", @onkeyup = "mascara(this, processo);", @maxlength = "21" })
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="panel-footer">
                <input type="submit" class="btn btn-primary" value="Enviar" />
                @Html.ActionLink("voltar", "IndexRelatorios", "Home", null, new { @Class = "btn btn-info" })
            </div>
        </div>
    }
</div>




