﻿@model IEnumerable<Sl_Processo.Models.VW_ResultadoPrincipalLicitacao>
@using System.Globalization;

<style>
    body, table {
        font-size: .99em !important;
    }
</style>
@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
    var seq = 1;
   
}

@Html.ActionLink("Voltar Pesquisa", "Index", "Licitacoes", null, new { @Class = "btn btn-primary" })
<hr />
<div class="table-responsive">
    <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>nº</th>
                <th>Processo</th>
                <th>Comissão</th>
                <th>Licitação</th>
                <th>Objeto</th>
                <th>Unidade</th>
                <th>Mês/Ano</th>
                <th>Situação</th>
                <th>Val. Estimado</th>
                <th>Val. Adjudicado</th>
                <th>QTD Vencedor</th>
                <th>QTD Vencedor RO</th>
                <th>QTD Vencedor RO EPP/ME</th>
                <th>Val. Adjudicado Empresa RO</th>
                <th>Val. Adjudicado Empresa RO EPP/ME</th>
                <th>Val. Adjudicado Empresa EPP/ME</th>
                <th>Tempo Licitação (dias)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                @{
                        var mes = new CultureInfo("pt-BR").DateTimeFormat.GetAbbreviatedMonthName(item.Mes);
                }
                <td>@seq</td>
                <td>@Html.DisplayFor(modelItem => item.NumeroProcesso)</td>
                <td>@Html.DisplayFor(modelItem => item.Comissao)</td>
                <td>@item.TipoProcedimento&nbsp;@item.NumeroProcedimento</td>
                <td>@Html.DisplayFor(modelItem => item.Objeto)</td>
                <td>@Html.DisplayFor(modelItem => item.Sigla)</td>
                <td>@mes/@item.Ano</td>
                <td>@Html.DisplayFor(modelItem => item.Situacao)</td>
                <td>@Html.DisplayFor(modelItem => item.ValorEstimado)</td>
                <td>@Html.DisplayFor(modelItem => item.ValorAdjudicado)</td>
                <td>@Html.DisplayFor(modelItem => item.QtdTotalEmpresaVencedor)</td>
                <td>@Html.DisplayFor(modelItem => item.QtdVencedorRO)</td>
                <td>@Html.DisplayFor(modelItem => item.QtdVencedorROEPPME)</td>
                <td>@Html.DisplayFor(modelItem => item.ValAdjudicadoEmpresaRO)</td>
                <td>@Html.DisplayFor(modelItem => item.ValAdjudicadoEmpresaROEPPME)</td>
                <td>@Html.DisplayFor(modelItem => item.ValAdjudicadoEmpresaEPPME)</td>
                <td>@Html.DisplayFor(modelItem => item.TempoLicitacao)</td>
                @{seq++;}
            </tr>
                        }
        </tbody>
    </table>
</div>

@section Scripts {   
    <script>        
        $(document).ready(function () {
            $('#example').DataTable({                
                
            })
        });
        $.extend(true, $.fn.dataTable.defaults, {           
            "ordering": false,            
        });

        var table = $('#example').DataTable();

        new $.fn.dataTable.Buttons(table, {            
            buttons: ['copy', 'excel', 'pdf', 'colvis',]
        });

        table.buttons().container()
            .appendTo($('.col-sm-6:eq(0)', table.table().container()));
    </script>   
}